@import "./assets/styles/main.css";

#root {
  place-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  max-width: 100vw;
  text-align: center;
}

@media (max-width: 600px) {
  h2 {
    font-size: 2rem;
  }
}
